@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            Hello @User.Identity.Name!
        </p>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    }
    else
    {
        <p>
            <a class="btn btn-primary" href="~/Account/Login">Login</a>
            <a class="btn btn-primary" href="~/Account/Register">Register</a>
        </p>
    }
</div>